@model List<AlunoModel>
@{
    ViewData["Title"] = "Alunos";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Alunos</h1>

    <div class="card shadow mb-4 mt-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Lista Geral de Alunos</h6>
            <a class="btn btn-primary" asp-controller="Aluno" asp-action="AddAluno">Adicionar Aluno</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data Nascimento</th>
                            <th>Gênero</th>
                            <th>Status</th>
                            <th>Cursos</th>
                            <th>Cursos Disponíveis</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var aluno in Model)
                            {
                                <tr>
                                    <td>@aluno.Nome</td>
                                    <td>@aluno.DataNascimento.ToString("dd/MM/yyyy")</td>
                                    <td>@aluno.Genero</td>
                                    <td>@aluno.Status</td>
                                    <td><a class="btn-sm btn-primary text-decoration-none d-block" asp-route-Id="@aluno.AlunoId" asp-controller="Aluno" asp-action="CursosDoAluno">Cursos</a></td>
                                    <td><a class="btn-sm btn-primary text-decoration-none d-block" asp-route-Id="@aluno.AlunoId" asp-controller="Aluno" asp-action="CursosDisponiveis">Cursos Disponíveis</a></td>
                                    <td class="text-center">
                                        <a class="btn-sm btn-primary text-decoration-none" asp-route-Id="@aluno.AlunoId" asp-controller="Aluno" asp-action="AtualizarAluno"><i class="far fa-edit"></i></a>
                                        <a class="btn-sm btn-danger text-decoration-none" asp-route-Id="@aluno.AlunoId" asp-controller="Aluno" asp-action="RemoverAluno"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">Nenhum aluno encontrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
