@model List<ProfessorModel>

@{
    ViewData["Title"] = "Professores";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Professores</h1>
    

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <div>
                @TempData["MensagemSucesso"]
            </div>

            <button type="button" class="btn btn-primary btn-sm close-alert ms-auto" data-bs-dismiss="alert" aria-label="Close">X</button>

        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
                @TempData["MensagemErro"]
            </div>
            <button type="button" class="btn btn-danger btn-sm close-alert ms-auto" data-bs-dismiss="alert" aria-label="Close">X</button>

        </div>
    }

    <div class="card shadow mb-4 mt-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Lista Geral de Professores</h6>
            <a class="btn btn-primary" asp-controller="Professor" asp-action="AddProfessor">Adicionar Professor</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Gênero</th>
                            <th>Email</th>
                            <th>Data de Cadastro</th>
                            <th>Status</th>
                            <th>Cursos</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var professor in Model)
                            {
                                <tr>
                                    <td>@professor.Nome</td>
                                    <td>@professor.Genero</td>
                                    <td>@professor.Email</td>
                                    <td>@professor.DataCadastro</td>
                                    <td>@professor.Status</td>
                                    <td>
                                        <a class="btn-sm btn-success text-decoration-none d-block text-center" asp-route-Id="@professor.ProfessorId" asp-controller="Professor" asp-action="CursosDoProfessor">Cursos</a>
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-primary text-decoration-none " asp-route-Id="@professor.ProfessorId" asp-controller="Professor" asp-action="AtualizarProfessor">Editar</a>
                                        <a class="btn-sm btn-danger text-decoration-none " asp-route-Id="@professor.ProfessorId" asp-controller="Professor" asp-action="RemoverProfessor">Remover</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
