@model List<ProfessorModel>

@{
    ViewData["Title"] = "Professores";
}

<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Professores</h1>

    <div class="card shadow mb-4 mt-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Lista Geral de Professores</h6>
            <a class="btn btn-primary" asp-controller="Professor" asp-action="AddProfessor">Adicionar Professor</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Gênero</th>
                            <th>Email</th>
                            <th>Cadastro</th>
                            <th>Status</th>
                            <th>Cursos</th>
                            <th>C. Disponíveis</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var professor in Model)
                            {
                                <tr>
                                    <td>@professor.Nome</td>
                                    <td>@professor.Genero</td>
                                    <td>@professor.Email</td>
                                    <td>@professor.DataCadastro.ToString("dd/MM/yyyy")</td>
                                    <td>@professor.Status</td>
                                    <td>
                                        <a class="btn-sm btn-primary text-decoration-none d-block text-center"
                                           asp-route-Id="@professor.ProfessorId"
                                           asp-controller="Professor"
                                           asp-action="CursosDoProfessor">Cursos</a>
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-primary text-decoration-none d-block"
                                           asp-route-Id="@professor.ProfessorId"
                                           asp-controller="Professor"
                                           asp-action="CursosDisponiveis">Disponíveis</a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn-sm btn-primary text-decoration-none me-1"
                                           asp-route-Id="@professor.ProfessorId"
                                           asp-controller="Professor"
                                           asp-action="AtualizarProfessor">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn-sm btn-danger text-decoration-none m-1"
                                           asp-route-Id="@professor.ProfessorId"
                                           asp-controller="Professor"
                                           asp-action="RemoverProfessor">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">Nenhum professor encontrado.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
