@using MasterIdiomas.Enums
@model CursoModel

@{
    ViewData["Title"] = "Criar Curso";
    var idiomas = ViewBag.Idiomas as List<string>;
    var professores = ViewBag.Professores as List<ProfessorModel>;
}

<div class="container-fluid px-4">

    <ol class="breadcrumb mt-1 bg-transparent">
        <li class="breadcrumb-item">
            <a asp-controller="Curso" asp-action="Index" class="text-decoration-none">Cursos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Adicionar Curso</li>
    </ol>

    <h1 class="mt-2 mb-4">Criar Curso</h1>

    <!-- Formulário -->
    <form asp-controller="Curso" asp-action="AddCurso" method="post">

        <!-- Linha 1 -->
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="Idioma" class="form-label">Idioma</label>
                <select class="form-control" asp-for="Idioma" required>
                    <option value="" selected>Selecione</option>
                    @if (idiomas != null)
                    {
                        foreach (var idioma in idiomas)
                        {
                            <option value="@idioma">@idioma</option>
                        }
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Idioma)</span>
            </div>

            <div class="mb-3 col-md-6">
                <label for="Turno" class="form-label">Turno</label>
                <select class="form-control" asp-for="Turno" required>
                    <option value="" selected>Selecione</option>
                    <option value="Manhã">Manhã</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Noite">Noite</option>
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Turno)</span>
            </div>
        </div>

        <!-- Linha 2 -->
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="Nivel" class="form-label">Nível</label>
                <select class="form-control" asp-for="Nivel" required>
                    <option value="" selected>Selecione</option>
                    <option value="Iniciante">Iniciante</option>
                    <option value="Intermediário">Intermediário</option>
                    <option value="Avançado">Avançado</option>
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Nivel)</span>
            </div>

            <div class="mb-3 col-md-6">
                <label for="DataInicio" class="form-label">Data de Início</label>
                <input type="date" class="form-control" asp-for="DataInicio"
                       min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.DataInicio)</span>
            </div>
        </div>

        <!-- Linha 3 -->
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="CargaHoraria" class="form-label">Carga Horária</label>
                <input type="number" class="form-control" asp-for="CargaHoraria"
                       placeholder="Horas de curso." min="10" max="50" required>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.CargaHoraria)</span>
            </div>

            <div class="mb-3 col-md-6">
                <label for="MaxAlunos" class="form-label">Quantidade Máxima de Alunos</label>
                <input type="number" class="form-control" asp-for="MaxAlunos"
                       min="10" max="30" required>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.MaxAlunos)</span>
            </div>
        </div>

        <!-- Botões -->
        <button type="submit" class="btn btn-primary w-100">Salvar Curso</button>
        <a class="mt-1 btn btn-secondary d-block" asp-controller="Curso" asp-action="Index" role="button">Voltar</a>
    </form>

</div>
